# ============================================
# Environment Variables
# ============================================
# This is this env template to store the keys whenever someone clone this repository
# change the values to your actual key values

# ── Bol.com API ──
BOL_CLIENT_ID=client_id
BOL_CLIENT_SECRET=client_secret
BOL_BASE_URL=https://api.bol.com


# ── Shopify API ──
SHOPIFY_STORE_URL=your_shopify_url
SHOPIFY_ACCESS_TOKEN=your_shopify_access_token # Shopify Password
SHOPIFY_CLIENT_ID=your_shopify_client_id # Shopify API Key
SHOPIFY_CLIENT_SECRET=your_shopify_client_secret

# ── PostgreSQL (Docker) ──
POSTGRES_HOST=localhost
POSTGRES_PORT=your_port_num
POSTGRES_DB=db_name
POSTGRES_USER=db_username
POSTGRES_PASSWORD=db_password

# ── DuckDB (Local development) ──
DUCKDB_PATH=local_path_duckdb

# ── Google Sheets ──
GOOGLE_SHEETS_CREDENTIALS_PATH=./config/google_service_account.json
GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id_here

# ── Metabase ──
METABASE_PORT=your_port_num

# ── N8N ──
N8N_PORT=5678
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=change_this_too
